*{
    background-color: white;
}
a,button{
    color: white;
    background-color: rgb(132, 9, 247);
}
div,h3,h4{
    color:black;
}
label,input{
    color: black;
}
fieldset,legend{
    color: black;
}
form{
    color: blue;
}